@using SOEN341InstagramReplica.Models
@model PostAndComments
@{
    ViewBag.Title = "Details2";
}
<script>

    window.onload = function () {
        //alert("onload");
        if (@Session["id"] != null) {
            if (@Model.likeStatus == 1) { //There is a record of it being liked
                document.getElementById("likeButton").style.backgroundColor = "lightblue";
            } else if (@Model.likeStatus == 2) { //There is a record of it being disliked
                document.getElementById("dislikeButton").style.backgroundColor = "red";
            }
            if (@Model.favourite == 1) {
                //alert("yes");
                document.getElementById("changeFavouriteButton").style.backgroundColor = "yellow";
            }
            //#fff default background
        }
    }

    //$(window).load(function () {

    //});
    function likeOrDislike(likeStatus) {
            //alert("currently= " + @Model.likeStatus);
            if (likeStatus == 1) { //They clicked like
                //alert("clicked like= " + likeStatus);
            } else { //They clicked dislike
                //alert("clicked dislike= " + likeStatus);
            }
            $.post('@Url.Action("LikeOrDislike", "UserPosts")',
            { "newRatingStatus": likeStatus, "loggedInUser": @Session["id"], "postID": @Model.post.ID}).done
            (function (data, status, error) {
                //var parsed_data = JSON.parse(data);
                //alert(status);
                //alert("here");
                //alert(data.returnStatus.LikeOrDislike);

            }).fail(function (data) {
                //Not sure why but for some reason switching between like and dislike returns error
                //alert("Fail for some reason");
            });

        /**********
         * COLOR CHANGE CODE
         ********/
        if ((likeStatus == 1 && document.getElementById("dislikeButton").style.backgroundColor == "red")
            || (likeStatus == 2 && document.getElementById("likeButton").style.backgroundColor == "lightblue")) {

            if (likeStatus == 1) { //They clicked like
                document.getElementById("likeButton").style.backgroundColor = "lightblue";
                document.getElementById("dislikeButton").style.backgroundColor = "#fff";
            } else { //They clicked dislike
                document.getElementById("likeButton").style.backgroundColor = "#fff";
                document.getElementById("dislikeButton").style.backgroundColor = "red";
            }
        //////////////////////////////////////////////////////////////////////////////
        } else if ((likeStatus == 1 && document.getElementById("likeButton").style.backgroundColor != "lightblue")
            || (likeStatus == 2 && document.getElementById("dislikeButton").style.backgroundColor != "red")){

            if (likeStatus == 1) { //They clicked like
                document.getElementById("likeButton").style.backgroundColor = "lightblue";
                document.getElementById("dislikeButton").style.backgroundColor = "#fff";
            } else { //They clicked dislike
                document.getElementById("likeButton").style.backgroundColor = "#fff";
                document.getElementById("dislikeButton").style.backgroundColor = "red";
            }
        //////////////////////////////////////////////////////////////////////////////
        } else {
            document.getElementById("likeButton").style.backgroundColor = "#fff";
            document.getElementById("dislikeButton").style.backgroundColor = "#fff";
        }
         /**********
         * END OF COLOR CHANGE CODE
         ********/
    }
    function ChangeFavourite(sentButton) {

        $.post('@Url.Action("changeFavourite", "UserPosts")',
            {  "loggedInUser": @Session["id"], "postID": @Model.post.ID}).done
            (function (data, status, error) {
            }).fail(function (data) {
            });

        //alert(document.getElementById("changeFavouriteButton").style.backgroundColor.toString());
        if (document.getElementById("changeFavouriteButton").style.backgroundColor == "yellow") {
            //alert("enter and blank");
            document.getElementById("changeFavouriteButton").style.backgroundColor = "#fff";
        }
        else {
            //alert("enter and yellow")
            document.getElementById("changeFavouriteButton").style.backgroundColor = "yellow";
        }
    }
</script>
@if (Session["username"] != null && Session["username"].ToString() != Model.postUserName)
{//LightBlue = style="background-color:#ADD8E6"
    <input type="button" id="likeButton"
           value="Like" class="btn btn-default" onclick="likeOrDislike(1)" />
    <input type="button" id="dislikeButton"
           value="Dislike" class="btn btn-default" onclick="likeOrDislike(2)" />
    <input type="button" id="changeFavouriteButton"
           value="Favourite" class="btn btn-default" onclick="ChangeFavourite()" />
    
}
<h1>Title: @Model.post.Title</h1>
<p>Likes: @Model.post.Likes Dislikes: @Model.post.Dislikes</p>
<h1>User: @Html.ActionLink(Model.postUserName.ToString(), "Details2", "Users", new { id = Model.post.User_ID }, null)</h1>

@{
    var base64 = Convert.ToBase64String(Model.post.POST);
    var imgsrc = string.Format("data:image/png;base64,{0}", base64);
}


<img src='@imgsrc' style="max-width:75%;max-height:75%" />
<br />
<p>Comments</p>
@if (Session["username"] != null)
{
    @Html.ActionLink("Create New Comment", "Create", "Comments", new { id = Model.post.ID }, null)

}

<table class="table">
    <tr>
        <th>
            Comment
        </th>
        <th>
            User
        </th>
    </tr>
    @foreach (var comment in Model.comments)
    {
        <tr>

            @if (Session["username"] != null && comment.Username == Session["username"].ToString())
            {
                <td>@comment.Comment1 | @Html.ActionLink("Delete Comment", "Delete", "Comments", new { id = comment.ID, postId = Model.post.ID }, null)</td>
            }
            else
            {
                <td>
                    @comment.Comment1
                </td>
            }
            <td>
                <a href="@Url.Action("Details2", "Users", new { id = comment.User_ID}, null)">
                    @comment.Username
                </a>
            </td>

        </tr>
    }
</table>