@model IEnumerable<SOEN341InstagramReplica.Models.UserPost>

@{
    ViewBag.Title = "Trending";
}

<h2>Trending</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Trending", new { sortOrder = ViewBag.TitleSortParm})
        </th>
        <th>
            POST
        </th>
        <th>
            @Html.ActionLink("Likes", "Trending", new { sortOrder = ViewBag.LikesSortParm })
        </th>
        <th>
            @Html.ActionLink("Dislikes", "Trending", new { sortOrder = ViewBag.DislikesSortParm })
        </th>
        <th>
            @Html.ActionLink("Date Posted", "Trending", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.ActionLink("User", "Trending", new { sortOrder = ViewBag.UserNameSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @{
                var base64 = Convert.ToBase64String(item.POST);
                var imgsrc = string.Format("data:image/png;base64,{0}", base64);
            }

            <img src='@imgsrc' style="max-width:50px;max-height:50px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Likes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dislikes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Posted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>
