<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{ 
        List<string> glist = new List<string>();
        glist.Add("Post Title");
        glist.Add("Username");
        ViewBag.PostAndOrUsername = new SelectList(glist);
     }

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SOEN341InstagramReplica", "Index", "Users", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--
    Code below
    This will check t=if the username has been saved in the session["username"]
    and if there is, then a link to the user's profile will appear with their
    username as the visual as well as the option to log out
    -->
                    @if (Session["username"] != null)
                    {
                        <li>
                            <a href="@Url.Action("Details2", "Users", new { id = Session["id"]}, null)">
                                @Session["username"]
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("MySubscriptions", "Users", new { id = Session["id"]}, null)">
                                MySubscriptions
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SignOut", "Home")">Sign Out</a>
                        </li>
                        <li style="padding: 12px 15px;">
                            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                            {
                                @Html.DropDownList("PostAndOrUsername", (SelectList)ViewBag.PostAndOrUsername, null, new { id = "postAndOrUsername" })
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { style = "margin-left: 3px" })
                                <input type="submit" value="Search" style="margin-left: 3px" />
                            }
                        </li>
                    }
                    else/*This means that no one is logged in.
                                            Meaning the user will have the option to either sign up and create
                                            an account or login to an existing one
                                            */
                    {
                        <li>
                            <a href="@Url.Action("SignUp", "Home")">Sign Up</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Login", "Home")">Login</a>
                        </li>
                        <li style="padding: 12px 15px;">
                            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                            {
                                @Html.DropDownList("PostAndOrUsername", (SelectList)ViewBag.PostAndOrUsername, null, new { id = "postAndOrUsername" })
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new {style = "margin-left: 3px" })
                                <input type="submit" value="Search" style="margin-left: 3px"/>
                            }
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SOEN341InstagramReplica</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
