@using SOEN341InstagramReplica.Models;
@model UserAndPosts

@{
    ViewBag.Title = "Details2";
}
<script>
    function followOrUnfollow() {
        //alert('o');
        //alert(document.getElementById('followOrUnfollowButton').value);
        if (document.getElementById('followOrUnfollowButton').value == "Follow") {

            //Following, which means now they want to unfollow
            $.post('@Url.Action("FollowOrUnfollowUser", "Users")',
                { "newFollowStatus": 1, "loggedInUser": @Session["id"], "userProfile": @Model.user.ID}).done
                (function () {
                    document.getElementById('followOrUnfollowButton').value = "Unfollow";
                });
        } else
        {
            //Not following, which means now they want to follow
            $.post('@Url.Action("FollowOrUnfollowUser", "Users")',
                { "newFollowStatus": 0, "loggedInUser": @Session["id"], "userProfile": @Model.user.ID}).done
                (function () {
                    document.getElementById('followOrUnfollowButton').value = "Follow";
                });
        }

    }

</script>
<h2>@Model.user.Username</h2>

@if (Session["username"] != null && Session["username"].ToString() != Model.user.Username)
{//LightBlue = style="background-color:#ADD8E6"
  <input type="button" id="followOrUnfollowButton"
     value="@Model.following.ToString()" class="btn btn-default" onclick="followOrUnfollow()" />
}

<p></p>
@if (Session["username"] != null && Session["username"].ToString() == Model.user.Username)
{
    <p>@Html.ActionLink("Delete my account", "Delete", new { id = Model.user.ID })</p>
    <br />
    <div style="line-height: 0.5">
    <p >My Other Account</p>
    <p>----------------</p>
    @if(Model.otherAccount != null)
    {
        <p>Switch to <a href="@Url.Action("SwitchAccount", "Users", new { otherAccountId = Model.otherAccount.ID })">@Model.otherAccount.Username.ToString()</a></p>
        <p style="line-height: 0.8">@Html.ActionLink("Remove linked Account", "Delete", "LinkedAccounts", new { id = Model.otherAccount.ID}, null)</p>

    }
    else
    {
          <p>@Html.ActionLink("Link other account", "LinkAccount")</p>
    }
    </div>
    <br />
    <p>
        @Html.ActionLink("Create New Post", "Create", "UserPosts", new { id = @Model.user.ID }, null)
    </p>
}
<p>My Posts</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Details2", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter, postAndOrUsername = ViewBag.SelectedPostAndOrUsername })
        </th>
        <th>
            Post
        </th>
        <th>
            @Html.ActionLink("Likes", "Details2", new { sortOrder = ViewBag.LikesSortParm, currentFilter = ViewBag.CurrentFilter, postAndOrUsername = ViewBag.SelectedPostAndOrUsername })
        </th>
        <th>
            @Html.ActionLink("Dislikes", "Details2", new { sortOrder = ViewBag.DislikesSortParm, currentFilter = ViewBag.CurrentFilter, postAndOrUsername = ViewBag.SelectedPostAndOrUsername })
        </th>
        <th>
            @Html.ActionLink("Date Posted", "Details2", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, postAndOrUsername = ViewBag.SelectedPostAndOrUsername })
        </th>
        <th></th>
    </tr>
    @foreach (var post in Model.posts)
    {
        <tr>
            <td>@Html.ActionLink(post.Title, "Details2", "UserPosts", new { id = post.ID }, null)</td>
            <td>
                @{
                    var base64 = Convert.ToBase64String(post.POST);
                    var imgsrc = string.Format("data:image/png;base64,{0}", base64);
                }

                <img src='@imgsrc' style="max-width:50px;max-height:50px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.Dislikes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.Date_Posted)
            </td>
            @if (Session["username"] != null && Session["username"].ToString() == Model.user.Username)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", "UserPosts", new { id = post.ID }, null) |
                    @Html.ActionLink("Delete", "Delete", "UserPosts", new { id = post.ID }, null)
                </td>
            }
        </tr>
    }
</table>
